 #demo img:hover{
    height: 300px;
    width: 200px;
    border-radius: 30px;
    border: 5px solid white;
    transition-delay: 0s;
}
#kk img:hover{
    /* height: 300px;
    width: 200px; */
    /* border-radius: 30px; */
    transition: scale(6.6);
    border: 5px solid white;
}
#priya img:hover{
    color: blueviolet;

}